{%extends 'blog/base.html'%}
   
    {%block content%}
    <h1 class="media content-section"> Search Results for "{{query}}"</h1>
    {%for posts in posts%}


<hr>

    <article class="media content-section">
        <div class="article-metadata"> <img class="rounded-circle article-img"  src="{{posts.authour.profile.image.url}}" alt="">
        
             post by {{posts.authour.first_name}} {{posts.authour.last_name}} <a class="mr-2" href="#">@{{posts.authour}}</a>
                <small class="text-muted" >{{posts.date_posted}}</small>

            </div>
        <div class="media-body"> <h2> <a class="article-title" href="{% url 'blog-article' posts.pk %}">{{posts.title}}</a> </h2>
            <p class="article-content" >{{posts.content|slice:":200"|safe}}</p>
            <small>
                <a class="btn btn-warning" href="{% url 'blog-article' posts.pk %}">Read More...</a>
            </small>



        </div>

    </article>
    {%empty%}
    <p class="media content-section"> No search results , Please try using other keywords...</p>
    {%endfor%}
    {%endblock content%}